.navbar{
    display: flex;
    justify-content: center;
    background-color: #013914;
    color: white;
    .container{
        width: 1400px;
       
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        .logo{
            font-size:30px;
            font-weight: bold;
            .text{
               
            }
            .dot{
                color:#1dbf73;
            }
        }
        .links{
            align-items: center;
            display: flex;
            gap:24px;
            font-weight: 500;
            font-family:'Montserrat',sans-serif;
            button {
                    color: white;
                    padding: 10px 20px;
                    border-radius: 5px;
                    border: 1px solid white;
                    background-color: transparent;
                    cursor: pointer;
            
                    &:hover {
                        background-color: #1dbf73;
                        border-color: #1dbf73;
                    }
                }
        }
    }
}